@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {
    --default-font-family: "Inter", sans-serif;
    --font-inter: 'Inter', sans-serif;

    --color-custom-cyan:  #497FFF;
    --color-custom-white: #FFFFFF;
    --color-bg-custom-gray: #F6F6F6;
    --color-custom-bg-gray2: #E5EAF7;
}

body {
    overflow: hidden;
}