@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@theme {
    --default-font-family: "Inter", sans-serif;
    --font-inter: 'Inter', sans-serif;

    --color-primary-dark: #1A1918;
    --color-secodary-dark: #121211;
    --color-secodary-gray: #44403D;
    --color-file-hover: #2D2B29;
    --color-menu-gray: #242321;
    --color-text-gray: #BBB5AE;
    --color-custom-cyan: #497FFF;
    --color-custom-white: #FFFFFF;
}

@layer base {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: #fff !important;
        /* or your text color */
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: #fff !important;
        background-color: transparent !important;
    }
}


body {
    overflow: hidden;
}